@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
  font-family: "Handlee", cursive;
}

.background-changer {
  height: 100vh;
  position: fixed;
  width: 100vw;
  background-image: url("/media/background.webp");
  /*filter: blur(12px);*/
  background-size: cover;
  background-repeat: no-repeat;

  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: fixed;
}
.page-content {
  position: relative;
}

@media only screen and (min-width: 991px) {
  .background-changer {
    animation: background-change 18s;
  }
}

@keyframes background-change {
  0% {
    background-image: url("/media/background.webp");
  }
  11% {
    background-image: url("/media/background2.webp");
  }
  22% {
    background-image: url("/media/background3.webp");
  }
  33% {
    background-image: url("/media/background4.webp");
  }
  44% {
    background-image: url("/media/background5.webp");
  }
  55% {
    background-image: url("/media/background6.webp");
  }
  66% {
    background-image: url("/media/background7.webp");
  }
  77% {
    background-image: url("/media/background8.webp");
  }
  88% {
    background-image: url("/media/background9.webp");
  }
}

.navbar-collapse.show > .d-flex,
.navbar-collapse.collapsing > .d-flex {
  display: block !important;
  text-align: center;
}
.container-lg {
  min-height: 100vh;
}
