@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
  font-family: "Handlee", cursive;
}
.background-changer {
  height: 100vh;

  width: 100vw;
  background: transparent url("/media/background.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;

  position: fixed;

  background-attachment: fixed;
}
.page-content {
  position: relative;
}

@media only screen and (min-width: 991px) {
  .background-changer {
    animation: background-change 54s step-start infinite,
      fade 6s linear infinite;
  }
}

@keyframes background-change {
  11% {
    background-position-y: 0%;
  }
  22% {
    background-position-y: 14%;
  }

  33% {
    background-position-y: 26%;
  }
  44% {
    background-position-y: 38%;
  }
  55% {
    background-position-y: 50%;
  }
  66% {
    background-position-y: 62%;
  }
  77% {
    background-position-y: 74%;
  }
  88% {
    background-position-y: 86%;
  }
  99% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar-collapse.show > .d-flex,
.navbar-collapse.collapsing > .d-flex {
  display: block !important;
  text-align: center;
}
.container-lg {
  min-height: 100vh;
}
