@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
  font-family: "Handlee", cursive;
  background-color: darkgray;
}
.Principal {
  width: 1000px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 20px;
}
.fonteT {
  font-family: "Handlee", cursive;
}
.fonteP {
  font-family: "Handlee", cursive;
}
@media (min-width: 601px) {
  .Principal {
    width: 1000px;
    height: 800px;
  }
  .Parte_001 {
    height: 20px;
    width: 100%;
  }
  .Parte_002 {
    height: 60px;
    width: 850px;
    margin-left: auto;
  }
  .Parte_003 {
    height: 180px;
    width: 160px;
    margin-left: 20px;
    margin-top: -60px;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .Principal {
    width: 360px;
    height: 640px;
  }
  .Parte_001 {
    height: 20px;
    width: 360px;
  }
  .Parte_002 {
    height: 40px;
    width: 300px;
    margin-left: 60px;
  }
  .Parte_003 {
    height: 90px;
    width: 90px;
    margin-left: 0px;
    margin-top: -40px;
  }
}
